<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <span>
        <% for(i of rooms) {%>
            <button id="<%=i._id %>">
                <%=i.name %>
            </button>
            <% } %>
    </span>

    <input type="text" id="msgbody">
    <button id="sendmsg">Send</button>

    <div id="txt"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        let txt = document.getElementById("txt")
        let msgBody = document.getElementById("msgbody")
        let sendMsg = document.getElementById("sendmsg")
            <% for (i of rooms) {%>

                document.getElementById('<%=i._id %>').addEventListener("click", () => {
                    socket.emit("<%=i._id %>", "<%=i._id %>")
                    txt.innerHTML = "<%=i._id.name %>"
                })
                <% } %>

                    sendMsg.addEventListener("click", () => {
                        socket.emit("msg", msgBody.value)
                    })

        socket.on('msg', (msg) => {
            el = document.createElement('p')
            el.innerText = msg
            txt.appendChild(el)
        })
    </script>
</body>

</html>